Parse JSON for only Phil

In [1]:
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt

In [3]:
json_array = []

# Open the file and read it line by line
with open('yelp_academic_dataset_business.json', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        json_array.append(json_obj)

In [ ]:
Phil_only = [obj for obj in json_array if obj['city'] == 'Philadelphia']
len(Phil_only)

In [5]:
with open('Philadelphia.jsonl', 'w') as json_file:
    for item in Phil_only:
        json.dump(item, json_file)
        json_file.write('\n')

Hotel for Phil

In [6]:
Phil_hotel = []
for obj in Phil_only:
    if(obj['categories']):
        for i in obj['categories'].strip().split(','):
            if i == ' Hotels' or i == 'Hotels':
                Phil_hotel.append(obj)

In [7]:
with open('Philadelphia_Hotels.jsonl', 'w') as json_file:
    for item in Phil_hotel:
        json.dump(item, json_file)
        json_file.write('\n')

Resturants

In [8]:
Phil_restaurant = []
for obj in Phil_only:
    if(obj['categories']):
        if ('Restaurants' in obj['categories'].strip()) or (' Restaurants' in obj['categories'].strip()):
            Phil_restaurant.append(obj)

In [9]:
with open('Philadelphia_Restaurants.jsonl', 'w') as json_file:
    for item in Phil_restaurant:
        json.dump(item, json_file)
        json_file.write('\n')

Attractions

In [10]:
Phil_attractions = []
seen = set()

1. museum

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Museums' in obj['categories'].strip().split(',')) or (' Museums' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

2. Park

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Parks' in obj['categories'].strip().split(',')) or (' Parks' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

3.Local Flavor

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Local Flavor' in obj['categories'].strip().split(',')) or (' Local Flavor' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

4. Zoo

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Zoos' in obj['categories'].strip().split(',')) or (' Zoos' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

5. Tours

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Tours' in obj['categories'].strip().split(',')) or (' Tours' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

6. Historical tours

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Historical Tours' in obj['categories'].strip().split(',')) or (' Historical Tours' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

7. Landmark and historical buildings

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Landmarks & Historical Buildings' in obj['categories'].strip().split(',')) or (' Landmarks & Historical Buildings' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

8. sourvenir shops

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Souvenir Shops' in obj['categories'].strip().split(',')) or (' Souvenir Shops' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

In [19]:
with open('Philadelphia_Attractions.jsonl', 'w') as json_file:
    for item in Phil_attractions:
        json.dump(item, json_file)
        json_file.write('\n')

All the reviews

In [3]:
json_array = []

# Open the file and read it line by line
with open('yelp_academic_dataset_review.json', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        json_array.append(json_obj)

In [ ]:
json_array[0]

1. Reviews for Hotels

In [22]:
hotel_json_array = []

# Open the file and read it line by line
with open('Philadelphia_Hotels.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotel_json_array.append(json_obj)

In [ ]:
review_json_array = []
for hotel in hotel_json_array:
    biz_id = hotel['business_id']
    for review in json_array:
        if review['business_id'] == biz_id:
            review_json_array.append(review)

In [41]:
with open('Philadelphia_Hotels_Reviews.jsonl', 'w') as json_file:
    for item in review_json_array:
        json.dump(item, json_file)
        json_file.write('\n')

2. Reviews for Attractions

In [42]:
attraction_json_array = []

# Open the file and read it line by line
with open('Philadelphia_Attractions.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attraction_json_array.append(json_obj)

In [43]:
review_json_array = []
for attraction in attraction_json_array:
    biz_id = attraction['business_id']
    for review in json_array:
        if review['business_id'] == biz_id:
            review_json_array.append(review)

In [44]:
with open('Philadelphia_Attractions_Reviews.jsonl', 'w') as json_file:
    for item in review_json_array:
        json.dump(item, json_file)
        json_file.write('\n')

3. Reviews for Restaurants

In [45]:
restaurant_json_array = []

# Open the file and read it line by line
with open('Philadelphia_Restaurants.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurant_json_array.append(json_obj)

In [46]:
review_json_array = []
for restaurant in restaurant_json_array:
    biz_id = restaurant['business_id']
    for review in json_array:
        if review['business_id'] == biz_id:
            review_json_array.append(review)

In [47]:
with open('Philadelphia_Restaurants_Reviews.jsonl', 'w') as json_file:
    for item in review_json_array:
        json.dump(item, json_file)
        json_file.write('\n')

Validation of the integrity of the data retrived (if the review counts match)

In [5]:
#just to get one review for "6I_DA3uqOox50rBvjrQ_-g"
review_json_array = []
biz_id = '6I_DA3uqOox50rBvjrQ_-g'
for review in json_array:
    if review['business_id'] == biz_id:
        review_json_array.append(review)
        break

In [7]:
review_json_array[0]

Get rid of not open anymore places

1. Hotel

In [2]:
hotels = []

# Open the file and read it line by line
with open('Philadelphia_Hotels.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotels.append(json_obj)

In [6]:
openning_hotels = []

for hotel in hotels:
    if(hotel['is_open'] == 1):
        openning_hotels.append(hotel)
len(openning_hotels)

#write the cleaned data to a new jsonl file
with open('Hotels.jsonl', 'w') as json_file:    
    for item in openning_hotels:
        json.dump(item, json_file)
        json_file.write('\n')

In [8]:
hotel_reviews = []

# Open the file and read it line by line
with open('Philadelphia_Hotels_Reviews.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotel_reviews.append(json_obj)

In [12]:
openning_hotels_reviews = []

for hotel in openning_hotels:
    biz_id = hotel['business_id']
    for review in hotel_reviews:
        if review['business_id'] == biz_id:
            openning_hotels_reviews.append(review)

with open('Hotels_Reviews.jsonl', 'w') as json_file:    
    for item in openning_hotels_reviews:
        json.dump(item, json_file)
        json_file.write('\n')

2. Attractions

In [2]:
attractions = []

# Open the file and read it line by line
with open('Philadelphia_Attractions.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attractions.append(json_obj)

In [4]:
openning_attractions = []

for attraction in attractions:
    if(attraction['is_open'] == 1):
        openning_attractions.append(attraction)

#write the cleaned data to a new jsonl file
with open('Attractions.jsonl', 'w') as json_file:    
    for item in openning_attractions:
        json.dump(item, json_file)
        json_file.write('\n')

In [5]:
attractions_reviews = []

# Open the file and read it line by line
with open('Philadelphia_Attractions_Reviews.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attractions_reviews.append(json_obj)

In [7]:
openning_attractions_reviews = []

for attraction in openning_attractions:
    biz_id = attraction['business_id']
    for review in attractions_reviews:
        if review['business_id'] == biz_id:
            openning_attractions_reviews.append(review)

with open('Attractions_Reviews.jsonl', 'w') as json_file:    
    for item in openning_attractions_reviews:
        json.dump(item, json_file)
        json_file.write('\n')

3. Restaurants

In [3]:
restaurants = []

# Open the file and read it line by line
with open('Philadelphia_Restaurants.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants.append(json_obj)

In [4]:
openning_restaurants = []

for restaurant in restaurants:
    if(restaurant['is_open'] == 1):
        openning_restaurants.append(restaurant)

#write the cleaned data to a new jsonl file
with open('Restaurants.jsonl', 'w') as json_file:    
    for item in openning_restaurants:
        json.dump(item, json_file)
        json_file.write('\n')

In [5]:
restaurants_reviews = []

# Open the file and read it line by line
with open('Philadelphia_Restaurants_Reviews.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants_reviews.append(json_obj)

In [6]:
openning_restaurants_reviews = []

for restaurant in openning_restaurants:
    biz_id = restaurant['business_id']
    for review in restaurants_reviews:
        if review['business_id'] == biz_id:
            openning_restaurants_reviews.append(review)

with open('Restaurants_Reviews.jsonl', 'w') as json_file:    
    for item in openning_restaurants_reviews:
        json.dump(item, json_file)
        json_file.write('\n')

For restaurants, keep top 1000 review count restaurants

In [2]:
restaurants = []

# Open the file and read it line by line
with open('Datasets/Restaurants.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants.append(json_obj)

In [4]:
#sort restaurants by review count descending
sorted_restaurants = sorted(restaurants, key=lambda x: x['review_count'], reverse=True)
top_1000 = sorted_restaurants[:1000]
#write the cleaned data to a new jsonl file
with open('Datasets/Restaurants_top1000.jsonl', 'w') as json_file:    
    for item in top_1000:
        json.dump(item, json_file)
        json_file.write('\n')

In [5]:
#find the reviews for the top 1000 restaurants
restaurants_reviews = []

# Open the file and read it line by line
with open('Datasets/Restaurants_Reviews.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants_reviews.append(json_obj)

top1000_restaurants_reviews = []

for restaurant in top_1000:
    biz_id = restaurant['business_id']
    for review in restaurants_reviews:
        if review['business_id'] == biz_id:
            top1000_restaurants_reviews.append(review)

with open('Datasets/Restaurants_top1000_Reviews.jsonl', 'w') as json_file:    
    for item in top1000_restaurants_reviews:
        json.dump(item, json_file)
        json_file.write('\n')

Combine origial and detail, and clean up uncessray attributes

In [3]:
hotels = []

# Open the file and read it line by line
with open('Datasets/Hotels.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotels.append(json_obj)

In [4]:
hotels_detail = []

# Open the file and read it line by line
with open('Datasets/Hotels_detail.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotels_detail.append(json_obj)

In [10]:
hotels[10]

{'business_id': 'D5V0Fawd6ODVgqCY8xngsw',
 'name': 'Loews Philadelphia Hotel',
 'address': '1200 Market St',
 'city': 'Philadelphia',
 'state': 'PA',
 'postal_code': '19107',
 'latitude': 39.9517461,
 'longitude': -75.1602286,
 'stars': 3.5,
 'review_count': 505,
 'is_open': 1,
 'attributes': {'Caters': 'True',
  'RestaurantsPriceRange2': '3',
  'WiFi': "u'paid'",
  'NoiseLevel': "u'average'",
  'OutdoorSeating': 'False',
  'GoodForKids': 'True',
  'Alcohol': "u'full_bar'",
  'RestaurantsDelivery': 'False',
  'RestaurantsReservations': 'True',
  'BusinessAcceptsCreditCards': 'True',
  'RestaurantsAttire': "u'casual'",
  'HasTV': 'True',
  'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': True}",
  'DogsAllowed': 'True'},
 'categories': 'Event Planning & Services, Hotels & Travel, Restaurants, Hotels, Seafood',
 'hours': None}

In [11]:
hotel_clean_attributes = ['business_id','name','address','city','stars','review_count']

hotel_clean = [{attr: record[attr] for attr in hotel_clean_attributes} for record in hotels]

In [12]:
hotel_clean[0]

{'business_id': '6I_DA3uqOox50rBvjrQ_-g',
 'name': 'Aloft Philadelphia Airport',
 'address': '4301 Island Ave',
 'city': 'Philadelphia',
 'stars': 3.0,
 'review_count': 175}

In [15]:
hotels_detail[0]['price']

'$$'

In [18]:
hotel_detail_clean_attributes = ['id','price']

hotel_detail_clean = [{attr: record.get(attr) for attr in hotel_detail_clean_attributes} for record in hotels_detail]

In [19]:
hotel_detail_clean

[{'id': '6I_DA3uqOox50rBvjrQ_-g', 'price': '$'},
 {'id': 'FppJo5aymUsfOg68uTOipw', 'price': '$'},
 {'id': 'qluIWCzDpeZfddykm_2gYg', 'price': '$'},
 {'id': '2oav5QoWgnvTI2gO5xFMjw', 'price': '$'},
 {'id': 'jTI5Xjk27An8ceJ6VwpXiQ', 'price': '$'},
 {'id': 'Pd-r2emx-k0GB3f2Iv4-zA', 'price': '$'},
 {'id': 'zJErbOQMKX-MwHs_ulV7DA', 'price': '$'},
 {'id': 'n4Ns3xLRhpkRwglwiQGKVA', 'price': '$'},
 {'id': 'HF1YWT8QVR7095r-aLbV5g', 'price': '$'},
 {'id': 'TZhCpOoo4TIg7dgftWNKyQ', 'price': '$'},
 {'id': 'D5V0Fawd6ODVgqCY8xngsw', 'price': '$'},
 {'id': 'HsBN0LiWQnbcltRIOWOslg', 'price': '$'},
 {'id': 'CFlW9bfl4N63fZpQsZIkRQ', 'price': '$'},
 {'id': 'Q5-CkgsvtlRF5GphtoBFRQ', 'price': '$'},
 {'id': 'wDaZZM-R-DvhoWR8y8q0mg', 'price': '$'},
 {'id': '_AVG0GvrMfBRK5jyuwSwrg', 'price': '$'},
 {'id': 'cdZf-iYQRy5D18gTM95aew', 'price': '$'},
 {'id': 'jDds2solrdvoyK7sB97Eog', 'price': '$'},
 {'id': 'KGBjEO-FilXoCK_Pk-jsvA', 'price': '$'},
 {'id': 'NvaHGU03m-hvXIGScPe6WQ', 'price': '$'},
 {'id': 'EgI6S-JxwpxICPsqmaggiw', 'price': '$'},
 {'id': 'taVKq3N2vPxeNAHYDJAL5g', 'price': None},
 {'id': 'bjkA3ustWdg3EsTLRiUNKA', 'price': '$$$'},
 {'id': '5CCWbCvlxPCX3kLSSFTfEA', 'price': None},
 {'id': '3QPAh9VvYNTnqAFgBeBcng', 'price': '$$'},
 {'id': 'Je10gqBQIqSvYNS8XGrYnw', 'price': '$$'},
 {'id': 'sBZClv18j7gr1HIGIMXNcA', 'price': '$$'},
 {'id': 'xcySfsPDols3EdtFC6b76g', 'price': '$$'},
 {'id': 'SEFujmfGZI08JWRyhIpYeQ', 'price': '$$'},
 {'id': 'zy2p8yfx_fgXMCCUo8nWsA', 'price': '$'},
 {'id': 'yrpbZJblFvKpXSMvj--WVQ', 'price': '$$'},
 {'id': 'JIrsBVXBPGeW5hRZvX7ZuA', 'price': '$$'},
 {'id': 'bTNwrkDJ2HSIQo5egSX37g', 'price': '$'},
 {'id': 'HjewUoIXMm7yLu3aqQVTLg', 'price': '$$'},
 {'id': 'THeEPb1SgJLhwMlWrxOeSQ', 'price': '$$'},
 {'id': '53ZvKaO19YS6Gt5x-va0BA', 'price': '$$'},
 {'id': '-D_3emciINpjvYXsHCf8OA', 'price': '$$$'},
 {'id': 'kM0CewxK3Ize1SF92bfJYQ', 'price': '$$$'},
 {'id': 'VJpuuNZ8QXR2zTHIhB0yhw', 'price': '$$'},
 {'id': 'HVOHC7EyUMYdgV7S6kd0uQ', 'price': '$$'},
 {'id': 'hh6t95hiS-RqRt6bEz1SPw', 'price': None},
 {'id': 'QMHd6Z2djm_SBLzGhLvFqw', 'price': '$$'},
 {'id': 'oZxSL3PFX15Lzr8cjszmgQ', 'price': None},
 {'id': '6gdAMPGsK0D_3u8h3A8H2A', 'price': '$$$'},
 {'id': 'egk4EEv8KcmI6ZFyUieVeQ', 'price': None},
 {'id': 'dSdnWJxvhLwvsDfRI1lKuQ', 'price': '$$'},
 {'id': '1QlgJVS-WEb9KGS42sQMIA', 'price': None},
 {'id': 'QX3g1tCeHvb_kIhLmtBj0A', 'price': '$'},
 {'id': 'TDLkD6gOkn1jJ93go1ZySQ', 'price': '$$'},
 {'id': 'mlb7G66nkwYddPBfldUtIQ', 'price': '$$$'},
 {'id': 'Qy8eNnWB1bTYnvRQ9jgOOQ', 'price': '$$$'},
 {'id': 'jMqEQYBIztLtcvnTujfHUA', 'price': None},
 {'id': 'dkxCH6f6-YXsmfWDEiZs-Q', 'price': '$$'},
 {'id': 'lZX5_8qspEXtMJGFQ0-Mow', 'price': '$$'},
 {'id': 'toEYTrafM81UMo2GyCSxFw', 'price': '$$$'},
 {'id': 'M4y3CIkX3uG9HPN4ZNqD_g', 'price': '$$$'},
 {'id': 'lQwSrnzTxhssWHRGyq5rvQ', 'price': '$$'},
 {'id': 'VEsI9_aDFzIrk8wh0QCOAw', 'price': '$$$'},
 {'id': 'vAjNHtuCm1Pwu47PEOTwXA', 'price': '$$'},
 {'id': 'sHumMO208xz2rMKYD-TrPA', 'price': None},
 {'id': '4UZgIeaRWuOj3Z6LNMyaDA', 'price': '$$$'},
 {'id': 'KGvGSfvlWzurRu247ckEPw', 'price': '$$'},
 {'id': 'tvBz80VKCtWAVbA6VmJufg', 'price': '$$'},
 {'id': 'SO8kTCSO5dP5KyaX1JHDiA', 'price': '$$$'},
 {'id': 'X_AVbwQcF3dcSWP6TlErcw', 'price': '$$'},
 {'id': '55gCXlWDDCdttR3yRss1xw', 'price': '$$$'},
 {'id': 'fJhOwBljOz3VJV-BhCB3hg', 'price': '$$'},
 {'id': 's7GZ95hHqmr9WreRU62iBQ', 'price': '$$$'},
 {'id': 'j7dMQazjHXoBTsbpw5B28Q', 'price': '$$'},
 {'id': 'dvph41fD_t6Kd_ChSpmNSA', 'price': '$$$'},
 {'id': 'TTgpKmTSJs1w60DJkWlLWw', 'price': '$$'},
 {'id': '0bvtIbpsqBJZpRKSPwIfNw', 'price': '$$$'},
 {'id': 'X_1PaKwj4GhqwZ9Fi22WRA', 'price': '$$'},
 {'id': 'NK0_YatQwVmIFJJyrdNNpQ', 'price': '$$'},
 {'id': '7WD63dyoVXKdCFb9ly5EhA', 'price': '$$'},
 {'id': 'AXinWDle4ZYGtkdwqkBETQ', 'price': '$$$'},
 {'id': 'pFMGXlE1NwEXYPBgw3kRnA', 'price': '$'},
 {'id': 'uTZNjhXe5yCTMuEEN_xwEQ', 'price': '$'},
 {'id': 'EMviUh7Lud2nqnarrqi_tQ', 'price': '$'},
 {'id': 'EaBgGhjd8rB9KVvCXKaiAw', 'price': '$$'},
 {'id': 'ZLjUCF2UaML7S5pSmn5BKg', 'price': None},
 {'id': 'xV32Y7jne4duaM3H_r_ryQ', 'price': '$$'},
 {'id': '_BTdfZLpjdkdXwA-JuLwhw', 'price': '$$'},
 {'id': 'YrbQ_OrRo-TYHnVw5y4Kew', 'price': None},
 {'id': 'lxIJfx79uxpR27Mly3lZ0Q', 'price': '$$'},
 {'id': '_8QkK3WwGxNnn54Q1VTTcA', 'price': '$'},
 {'id': 'fUntC7lbyc2VR3np-29D4g', 'price': None},
 {'id': 'UeoR9zNgHzBFFVvbq_44MQ', 'price': None},
 {'id': 'JKR09pJneafnwpUg0FNEzw', 'price': '$$'},
 {'id': 'S2ljhPVQb8wxIN98j0Stcw', 'price': None},
 {'id': 'YGVBacpj1YW4q69hlYKoVA', 'price': '$$'},
 {'id': 'ppEDJRsyGcFqBw10STGDqw', 'price': '$$'},
 {'id': '0hVf3a0oq8ckB8JIDwSgig', 'price': '$$'},
 {'id': 'tPu6ZX94n260wQprRVohvA', 'price': '$$'},
 {'id': 'd_AEJ6ekjX79tL5RZtwZ_g', 'price': '$$$'},
 {'id': '9VEnlasR3YppxZuDyUv3iA', 'price': None},
 {'id': 'A9El2DdT9Qx2tfFc_f279A', 'price': '$$$'},
 {'id': 'MdxSCDMlOPZ2peHIDUZSFg', 'price': '$$'},
 {'id': 'xTCSNzu7387VHOPO7DkEzA', 'price': '$$$'},
 {'id': 'Tb-TrnvMd0iSA2AMHLyGEQ', 'price': '$$$'},
 {'id': 'mKJZREPhvsVgHebHK8dFew', 'price': '$$'},
 {'id': '8XtpIfn6bjrzKQraKuZHEQ', 'price': '$$'},
 {'id': 'd9T1Jgf4N2vY3dcMlnCgeA', 'price': '$$'},
 {'id': '4hM6GbEq5Jt-YZ0vRN1-Lw', 'price': None},
 {'id': '0FMOvA2Noq-gieWfnXB7aQ', 'price': None},
 {'id': 'p6H295aQCbDJ80GcpqFvwA', 'price': '$$'},
 {'id': 'X7TvrNg6jY1Q0JHJXjlQ2g', 'price': '$$'}]

In [20]:
df1 = pd.DataFrame(hotel_clean)
df2 = pd.DataFrame(hotel_detail_clean)

In [22]:
df2 = df2.rename(columns =  {'id':'business_id'})
df2

                business_id price
0    6I_DA3uqOox50rBvjrQ_-g     $
1    FppJo5aymUsfOg68uTOipw     $
2    qluIWCzDpeZfddykm_2gYg     $
3    2oav5QoWgnvTI2gO5xFMjw     $
4    jTI5Xjk27An8ceJ6VwpXiQ     $
..                      ...   ...
102  d9T1Jgf4N2vY3dcMlnCgeA    $$
103  4hM6GbEq5Jt-YZ0vRN1-Lw  None
104  0FMOvA2Noq-gieWfnXB7aQ  None
105  p6H295aQCbDJ80GcpqFvwA    $$
106  X7TvrNg6jY1Q0JHJXjlQ2g    $$

[107 rows x 2 columns]

In [25]:
merged_df = pd.merge(df1, df2, on='business_id', how='outer')
merged_array = merged_df.to_dict('records')
len(merged_array)

107

In [27]:
with open('Datasets/Hotels_pruned.jsonl', 'w') as json_file:    
    for item in merged_array:
        json.dump(item, json_file)
        json_file.write('\n')